.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.login span{
    padding: 10px 0px;
}
.login{
    /* background-color: #48494a; */
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    color:white;
    padding: 100px 50px;
    border-radius: 10px;
}
input{
    width: 300px;
    height: 30px;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 8px;
}
input:focus{
    outline: none !important;
    border:1px solid skyblue;
}
form{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
form button{
    cursor: pointer;
    padding:12px 30px;
    border-radius: 6px;
    color:white;
    background-color: rgb(255, 124, 0);
}
form button:hover{
    color: black;
    background-color: rgb(255, 163, 77);
}
.center{
    text-align: center;
    padding: 5px 0px;
}
.error{
    color: white;
    font-size: 14px;
}