<div>
    <app-nav></app-nav>
    <div class="login-body">
       <div class="login">
        <form>
             <input #name type="text" placeholder="Username"/>
             <br/>
             <input #pass type="password" placeholder="Password">
             <span class="error">{{error}}</span>
             <br/>
             <button (click)="onLogin($event,name.value,pass.value)">{{btn}}</button>
        </form>
        <br/>
        <div class="center"><span style="font-size: 10px;">DON'T HAVE ACCOUNT? <a style="cursor: pointer;color:white;margin-left: 5px;" href="/signup"> CREATE ONE</a></span></div>
       </div>
    </div>
</div>