.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.login span{
    padding: 10px 0px;
}
.login{
    background-color: black;
    color:white;
    padding: 20px 10px;
    border-radius: 10px;
}
input{
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    margin: 10px 0px;
}
form{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
form button{
    cursor: pointer;
    padding:5px 10px;
    border-radius: 6px;
    color:black;
    background-color: wheat;
}
form button:hover{
    color: white;
    background-color: black;
}
.center{
    text-align: center;
    padding: 5px 0px;
}
.error{
    color: red;
    font-size: 14px;
}