<div>
    <app-nav></app-nav>
    <div class="login-body">
       <div class="login">
        <div class="center"><span>LOGIN</span></div>
        <form>
             <input #name type="text" placeholder="Username"/>
             <br/>
             <input #pass type="password" placeholder="Password">
             <span class="error">{{error}}</span>
             <br/>
             <button (click)="onLogin($event,name.value,pass.value)">{{btn}}</button>
        </form>
        <div class="center"><span>Don't have account?<a style="cursor: pointer;" href="/signup"> Create one</a></span></div>
       </div>
    </div>
</div>