<nav>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <div class="a">MediaTALK</div>
    <div class="b">
        <div style="padding-top: 10px;">
            <a href="/">HOME</a>
        </div>
        <div  style="padding-top: 10px;" *ngIf="!isLoggedIn">
            <a href="/login">LOGIN</a>
        </div>
        <div *ngIf="isLoggedIn">
            <a href="/profile">
                <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes.png" width="60px" height="40px" style=""/>
            </a>
        </div>
    </div>
</nav>