nav{
    color: black;
    background: rgba(110, 188, 133, 0.96);
    
    padding:10px;
    display: flex;
    flex-direction: row;
    font-family: 'Nosifer', sans-serif;
}
.a{
    flex:8;
    font-size: 22px;
}
.b{
    flex:1;
    display:flex;
    flex-direction: row;
}
.b div{
    flex:1;
    text-align: center;
    font-size: 17px;
}
a{
    font-size: 14px;
}
a:hover{
   color: rgb(86, 84, 84);
   cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
img{
    cursor: pointer;
    border-radius: 50%;
}
.dropdown{
    /* background-color: grey; */
    background-color: rgba(110, 188, 133, 0.96);

    color: white;
    position: absolute;
    font-size: 12px;
    padding:10px 1px;
    /* width: ; */
}
.dropdown-list{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.dropdown-list span a{
    font-size: 25px;
}
.a-second{
    font-size: 10px !important;
    padding:5px 7px;
    cursor: pointer;
}
.a-second:hover{
    color: white;
}