<nav (mouseleave)="closeDropdown()">
    <div class="a"></div>
    <div class="b">
        <div style="padding-top: 10px;">
            <a style="font-weight: 600;" href="/">HOME</a>
        </div>
        <div  style="padding-top: 10px;" *ngIf="!isLoggedIn">
            <a  style="font-weight: 600;" href="/login">LOGIN</a>
        </div>
        <div *ngIf="isLoggedIn">
            <a (mouseenter)="openDropDown()">
                <img *ngIf="isImg"  width="50px" height="50px"  [src]="'data:' + imgType + ';base64,' + imgData" alt="Image" />

                <img *ngIf="!isImg" src="https://static.vecteezy.com/system/resources/previews/018/765/757/original/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector.jpg" width="60px" height="40px"/>
            </a>
            <div *ngIf="showDropdown" class="dropdown">
                   <div class="dropdown-list">
                     <span><a class="a-second"  href="/profile">My Profile</a></span>
                     <span><a class="a-second" (click)="Logout()">Log out</a></span>
                   </div>
            </div>
        </div>
    </div>
</nav>