<div>
    <app-nav></app-nav>
    <app-custom-dialog *ngIf="showDialogBox" [message]="dialogMessage" (onClose)="closeDialog($event)"></app-custom-dialog>
    <div *ngIf="!isLoggedIn" style="display: flex;justify-content: center;align-items: center;height: 90vh;font-size: 20px;">
          PLEASE LOGIN TO ACCESS CHANNELS!!!
    </div>
    <div class="list-channels" *ngIf="isLoggedIn">
        <div class="inside">
            <div *ngFor="let item of channels" class="channel">
                 <div class="box">
                    <img width="200px" height="200px" *ngIf="item?.img_data==null" src="https://media.istockphoto.com/id/95442265/photo/lottery.jpg?b=1&s=612x612&w=0&k=20&c=jTrMLiaV5Tc_cNUtkBjyW-SetgXmep_ce21RzenkdTA="/>
                    <app-img-display [item]="item"></app-img-display>
                    <div class="b">
                        <div>{{item?.name}}</div>
                        <p>{{item?.description}}</p>
                        <p>{{item.members==null?'0':item.members.length}} followers</p>
                        <button (click)="JoinChannel(item?.id)">Join</button>
                    </div>
                 </div>
                 <br/>
            </div>
        </div>
    </div>
</div>