<div>
  <app-nav></app-nav>
  <div style="display: flex;flex-direction: row;">
    <section class="details" style="flex:1"> 
      <header class="msger-header">
        <div class="msger-header-title" style="display: flex;flex-direction: row;">
            <span>Users/Followers</span>
            <br/>
          </div>
        </header>
        <main class="details-section">
          <div style="display: flex;justify-content: center;flex-direction: column;">
            <img width="100%" height="100%"  [src]="'data:' + channelData?.img_mime_type + ';base64,' + channelData?.img_data"  />
            <br/>
            <!-- <div style="text-align: left;"><span style="color:grey">FOLLOWERS</span><span style="background-color: rgb(11, 11, 90);color: white;padding: 1px 3px;border-radius: 4px;margin: 0px 3px;">6</span></div> -->
            <div class="user-images">
              <app-channel-profile class="user"  *ngFor="let user of channelData?.members" [id]="user"></app-channel-profile>
            </div>
          </div>
      </main>
     </section>
     <section class="msger" style="flex:6">
       <header class="msger-header">
         <div class="msger-header-title" style="display: flex;flex-direction: row;">
             Messenger  
         </div>
       </header>
     
       <main class="msger-chat">
         <div class="msg left-msg">
           <div
            class="msg-img"
            style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
           ></div>
     
           <div class="msg-bubble">
             <div class="msg-info">
               <div class="msg-info-name">BOT</div>
               <div class="msg-info-time">12:45</div>
             </div>
     
             <div class="msg-text">
               Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
             </div>
           </div>
         </div>
     
         <div class="msg right-msg">
           <div
            class="msg-img"
            style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
           ></div>
     
           <div class="msg-bubble">
             <div class="msg-info">
               <div class="msg-info-name">Sajad</div>
               <div class="msg-info-time">12:46</div>
             </div>
     
             <div class="msg-text">
               You can change your name in JS section!
             </div>
           </div>
         </div>
       </main>
     
       <form class="msger-inputarea">
         <input type="text" class="msger-input" placeholder="Enter your message...">
         <button type="submit" class="msger-send-btn">Send</button>
       </form>
     </section>
  </div>
</div>