<div>
    <app-nav></app-nav>
    <div class="login-body">
       <div class="login">
        <div class="center"><span>CREATE AN ACCOUNT</span></div>
        <form>
             <input #username type="text" placeholder="Username"/>
             <br/>
             <input #password type="password" placeholder="Password">
             <span class="error">{{error}}</span>
             <span class="success">{{success}}</span>
             <br/>
             <button  (click)="Onsubmit($event,username.value,password.value)">SIGNUP</button>
        </form>
        <div class="center"><span style="font-size: 10px;">ALREADY HAVE ACCOUNT?<a style="cursor: pointer;font-size: 10px;color: white;margin-left: 5px;" href="/login"> SIGN IN</a></span></div>
       </div>
    </div>
</div>