<div>
    <app-nav></app-nav>
    <div class="login-body">
       <div class="login">
        <div class="center"><span>CREATE AN ACCOUNT</span></div>
        <form>
             <input #username type="text" placeholder="Username"/>
             <br/>
             <input #password type="password" placeholder="Password">
             <br/>
             <span class="error">{{error}}</span>
             <br/>
             <button type="submit" (ng-click)="Onsubmit(username.value,password.value)">SIGNUP</button>
        </form>
        <div class="center"><span>Already have an account?<a style="cursor: pointer;" href="/login"> Sign in</a></span></div>
       </div>
    </div>
</div>