.profile{
    margin: 20px 10px;
    display: flex;
}
.a-con{
    flex: 2;
}
.container{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a,.b,.c,.d{
    flex: 1;
}
.a{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.aa{
    flex:5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ab{
    flex:3;
    text-align: center;
}
input{
    padding: 12px 10px;
    width: 300px;
    margin: 5px 0px;
    border:1px solid grey;
    border-radius: 10px;
}
.d button{
   background-color: rgb(25, 95, 123);
   color: white;
   padding: 10px 30px;
   border-radius: 10px;
   cursor: pointer;
}
.d button:hover{
    background-color: rgb(50, 129, 161);
    color: wheat;
}
.error{
    color: red;
    font-size: 16px;
}
img{border-radius: 50%;}