<div>
    <app-nav></app-nav>
    <div class="profile">
        <div class="a-con"></div>
        <div class="container">
            <div class="a">
                <div class="aa">
                    <span *ngIf="isUser" style="display: flex;font-size: 25px;font-weight:lighter;font-family: cursive;">
                        <span>
                            Welcome, 
                        </span>
                        <span style="padding: 0px 10px;">
                            {{userData?.name}}
                        </span>
                    </span>
                    <br/>
                    <br/>
                      <input type="text" placeholder="Enter Your Email"/>
                      <br/>
                      <input type="text" placeholder="Enter Your Mobile Number"/>
                      <br/>
                      <input type="text" placeholder="Write about yourself"/>

                </div>
                <div class="ab">
                    <!-- <img *ngIf="imgData!=''" src="data:{{userData?.img_mime_type}};base64,{{ imgData }}" alt="Image" /> -->
                    <img *ngIf="isImg"  width="250px" height="250px"  [src]="'data:' + imgType + ';base64,' + imgData" alt="Image" />

                    <img *ngIf="!isImg" width="250px" height="250px" src="https://static.vecteezy.com/system/resources/previews/018/765/757/original/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector.jpg"/>
                    <span class="error" *ngIf="error!=''">{{error}}</span>
                    <label for="img-upload" class="upload-btn">UPLOAD</label>
                    <input type="file" name="file" id="img-upload" (change)="uploadImage($event)"/>
                    
                </div>
            </div>
            <div  class="b">

            </div>
            <div  class="c"></div>
            <div  class="d">
                <button>SAVE</button>
            </div>
        </div>
        <div class="a-con"></div>
    </div>
</div>