<div>
    <app-nav></app-nav>
    <div class="home">
            <div class="home-spans">
            <span class="title">W</span>
            <span class="title">E</span>
            <span class="title">L</span>
            <span class="title">C</span>
            <span class="title">O</span>
            <span class="title">M</span>
            <span class="title">E</span>
            <span class="space"> </span>
            <span class="title">T</span>
            <span class="title">O</span>
            <span class="space"> </span>
            <span class="title">M</span>
            <span class="title">Y</span>
            <span class="space"> </span>
            <span class="title">F</span>
            <span class="title">I</span>
            <span class="title">R</span>
            <span class="title">S</span>
            <span class="title">T</span>
            <span class="space"> </span>
            <span class="title">A</span>
            <span class="title">N</span>
            <span class="title">G</span>
            <span class="title">U</span>
            <span class="title">L</span>
            <span class="title">A</span>
            <span class="title">R</span>
            <span class="space"> </span>
            <span class="title">P</span>
            <span class="title">R</span>
            <span class="title">O</span>
            <span class="title">J</span>
            <span class="title">E</span>
            <span class="title">C</span>
            <span class="title">T</span>
            </div>
            <br/>
            <div class="home-options">
                <button class="sign_in"><a href="/channel/create">Create Channel</a></button>
                <button class="sign_in"><a href="/channel/list">Join Channel</a></button>
            </div>
    </div>
</div>