<div>
    <app-nav></app-nav>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <div class="home">
            <div class="home-spans">
            <span class="title">W</span>
            <span class="title">E</span>
            <span class="title">L</span>
            <span class="title">C</span>
            <span class="title">O</span>
            <span class="title">M</span>
            <span class="title">E</span>
            <span class="space"> </span>
            <span class="title">T</span>
            <span class="title">O</span>
            <span class="space"> </span>
            <span class="title">J</span>
            <span class="title">U</span>
            <span class="title">S</span>
            <span class="title">T</span>
            <span class="title">-</span>
            <span class="title">T</span>
            <span class="title">A</span>
            <span class="title">L</span>
            <span class="title">K</span>
            <span class="title">!</span>
            </div>
            <br/>
            <div class="home-options">
                <button><a href="/channel/create">Create Channel</a></button>
                <button><a href="/channel/list">Join Channel</a></button>
            </div>
    </div>
</div>