<div>
    <app-nav></app-nav>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <div class="home">
            <span class="title">W</span>
            <span class="title">E</span>
            <span class="title">L</span>
            <span class="title">C</span>
            <span class="title">O</span>
            <span class="title">M</span>
            <span class="title">E</span>
            <span class="space"> </span>
            <span class="title">T</span>
            <span class="title">O</span>
            <span class="space"> </span>
            <span class="title">M</span>
            <span class="title">E</span>
            <span class="title">D</span>
            <span class="title">I</span>
            <span class="title">A</span>
            <span class="title">T</span>
            <span class="title">A</span>
            <span class="title">L</span>
            <span class="title">K</span>
    </div>
</div>